@{
    ViewData["Title"] = "Inicio";
}

<center>
    <img src="~/imgs/cropped-cropped-Instituto-Superior-de-Profesorado-N°20-6.png"/>
    <h1>Crea tu futuro en el Instituto Nº 20</h1>
</center>
<br />
<center>
    <h2>Contacto:</h2> <br />
  <img src="~/imgs/Contactos.png" />
</center>
