@{
    ViewData["Title"] = "Inscripciones a materias";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    
    <img src="~/imgs/cropped-cropped-Instituto-Superior-de-Profesorado-N°20-6.png"  style="margin:auto" />
    
</div>
